        
    <script type="text/javascript"> 
        dojo.require("dojo.parser");
        dojo.require("dijit.form.Form");
        dojo.require("dijit.form.TextBox");


        function loginSubmit(e) {
            e.preventDefault();
            dojo.byId("loginFormError").innerHTML = "";
            var statusNode = dojo.byId("loginFormStatus");
            statusNode.innerHTML = "Please wait...";
            var loginJson = dojo.formToJson("loginForm");
            console.log(loginJson);
            dojo.xhrPost({
                url: "/_session",
                handleAs: "json",
                handle: function(response, ioArgs) {
            	   console.log("LOAD RETURNED");
            	   console.log(json);
                    statusNode.innerHTML = "Success";
                },
                error: function(response, ioArgs) {
                    console.log("ERROR RETURNED");
                	console.log(response);
                	statusNode.innerHTML = "";
                    var errorNode = dojo.byId("loginFormError");
                    if (response.responseText && response.responseText.reason) {
                        errorNode.innerHTML = error.responseText.reason;
                    } else {
                        errorNode.innerHTML = "Login failed";
                    }
                }
            });
        }

        dojo.addOnLoad(function(){
            var nameForm = dojo.byId("loginForm");   
            dojo.connect(nameForm,"submit","loginSubmit");    
        });
    </script>
    
    </head>
    <body class="tundra">
    <h1>Journal</h1>
    <p>Add <a href="<%= app_root %>_show/journal/">new</a> or search <a href="<%= app_root %>papers.html">papers</a></p>
<p>
Login
</p>
<form id='login' action="/_session" method='post'>
    <p><label>User</label><input type='text' name='username'/></p>
    <p><label>Password</label><input type='password' name='password'/></p>
    <p><input type='submit'/></p>
</form>
        <form dojoType="dijit.form.Form" id='loginForm'>
            <label for='username' id='usernameLabel'>User Name</label>
            <input type="text" name="username" id='username' dojoType="dijit.form.TextBox" 
                    required="true"/>
            <label for='password' id='passwordLabel'>Password</label>
            <input type="password" name="password" id='password' required="true"/>
            <button class='go' type='submit'>Login</button>
            <span class='error' id='loginFormError'></span>
            <span id='loginFormStatus'></span>
        </form>
</body>
</html>