    
    <script type="text/javascript" src="<%= app_root %>wmd/showdown.js"></script>
    
    <script type="text/javascript" src="<%= app_root %>vendor/couchapp/date.js"></script>
    
    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.Button");
        dojo.require("dijit.form.Form");
        dojo.require("dijit.form.TextBox");
        dojo.require("dijit.InlineEditBox");
        dojo.require("psytitian.atom");
        
        // TODO: Factor out
        function save(e) {
            console.info("SAVE");
            
            e.preventDefault();

            // Assemble
			var values = dijit.byId("entryForm").attr('value');
			values.types = psy.atom.type;
            // Dates
            var today = new Date().toJSON();
            values.published = today;
            values.updated = today;
            // Content
            values.content = dojo.byId("wmd-preview").innerHTML;
            // Title
            values.title = dijit.byId('entryTitleContainer').attr('value');
            // Convert to JSON
            var args = dojo.toJson(values,true);
            console.log("Saving " + args);

            psy.post({
                load: function(data, ioargs) {
                    console.log("Saved", data);
                    // Redirect to display page
                    var redirect = window.location.toString();
                    if (redirect.charAt(redirect.length-1) != '/') {
                        redirect = redirect + '/';
                    }
                    redirect = redirect + data.id;
                    window.location = redirect;
                },
                errorDocumentExists: function(error, ioargs) {
                    // TODO:
                	console.log("Error", error);
            	},
                errorOther: function(error, ioargs) {
                    // TODO:
            		console.log("Error", error);
            	}
            }, 
            args);
        }
        

        function previewHtml() {
            var output = dojo.byId("wmd-output");
            var preview = dojo.byId("wmd-preview");
            if (dijit.byId("previewHTML").attr("checked")) {
                output.style.display = "block";
                preview.style.display = "none";
            } else {
                output.style.display = "none";
                preview.style.display = "block";
            }
        }
        
        dojo.addOnLoad(function(){
        	 previewHtml();
        	 dojo.connect( dojo.byId("entryForm"),"submit","save"); 
        });
    </script>
    
    </head>
    <body class="tundra">
    <h1>Journal (<%= user %>)</h1>
    <p>Add <a href="<%= app_root %>_show/journal/">new</a>, 
    view <a href='<%= app_root %>_list/journal/atom?descending=true&limit=10'>recent</a>  
    or search <a href="<%= app_root %>papers.html">papers</a></p>

<form dojoType="dijit.form.Form" id='entryForm'>
    <input type='hidden' value='<%= user %>' name='author' dojoType='dijit.form.TextBox'/>
    <table class='entryDialog'>
        <tr>
            <td width='60'>
                <label for='entryTitle'>Title</label>
            </td>
            <td>
                <span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox"
                    title="The title of the blog entry" name='title'
                    trim="true" required="true"
                    id='entryTitleContainer'></span>
            </td>
        </tr>
    </table>
    <h2>Content</h2>
    <p>
            <button class='go' type="submit">Save</button>
            <span class='error' id='entryFormError'></span>
    </p>
    <div class='wmd-left' >
      <div id="wmd-button-bar" class="wmd-panel"></div>
      <br/>
      <textarea rows="15" id="wmd-input" class="wmd-panel"></textarea>
    </div>
    
</form>
    
    <div class='wmd-left' >
        <button id='previewHTML' 
            dojoType="dijit.form.ToggleButton" unchecked iconClass="dijitCheckBoxIcon" onClick='previewHtml'>Preview HTML</button>
        <div id="wmd-preview"></div>
        <div id="wmd-output"</div>
    </div>
       
    <div id='wmd-end'><hr/></div>
      
      <script type="text/javascript" src="<%= app_root %>wmd/wmd.js"></script>
</body>
</html>
