<form dojoType="dijit.form.Form" id='entryForm'>
    <input type='hidden' value='<%= user %>' name='author' dojoType='dijit.form.TextBox'/>
    <table class='entryDialog'>
        <tr>
            <td width='60'>
                <label for='entryTitle'>Title</label>
            </td>
            <td>
                <span dojoType="dijit.InlineEditBox" editor="dijit.form.TextBox"
                    title="The title of the blog entry" name='title'
                    trim="true" required="true"
                    id='entryTitleContainer'></span>
            </td>
        </tr>
    </table>
    <h2>Content</h2>
    <p>
            <button class='go' type="submit">Save</button>
            <span class='error' id='entryFormError'></span>
    </p>
    <div class='wmd-left' >
      <div id="wmd-button-bar" class="wmd-panel"></div>
      <br/>
      <textarea rows="15" id="wmd-input" class="wmd-panel"></textarea>
    </div>
    
</form>
    
    <div class='wmd-left' >
        <button id='previewHTML' 
            dojoType="dijit.form.ToggleButton" unchecked iconClass="dijitCheckBoxIcon" onClick='previewHtml'>Preview HTML</button>
        <div id="wmd-preview"></div>
        <div id="wmd-output"</div>
    </div>
       
    <div id='wmd-end'><hr/></div>
      
      <script type="text/javascript" src="<%= app_root %>wmd/wmd.js"></script>
</body>
</html>
