<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<!--     
   Copyright [2010] Robert Burrell Donkin http://robertburrelldonkin.name
   
    This file is part of Psytitian.
  
    Psytitian is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  
    Psytitian is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with Psytitian.  If not, see <http://www.gnu.org/licenses/>.
-->
    <head>
        <title>Journal</title>    

    <style type="text/css">
        @import "<%= app_root %>dijit/themes/tundra/tundra.css";
        @import "<%= app_root %>dojo/resources/dojo.css";
        @import "<%= app_root %>psytitian/resources/psytitian.css";
        @import "<%= app_root %>style/main.css";
    </style>
    
    <!-- Dojo-->
    <script type="text/javascript" src="dojo/dojo.js"
        djConfig="parseOnLoad:true, isDebug:false"></script>
    
    <!-- Application -->
    <script type='text/javascript' src='js/cite.js'></script>
    <script type='text/javascript' src='js/config.js'></script>
    
    </head>
    <body class="tundra">
    <h1>Journal</h1>
    <p>Add <a href="<%= app_root %>_show/journal/">new</a>, 
    view <a href='<%= app_root %>_list/journal/atom?descending=true&limit=10'>recent</a> 
    or search <a href="<%= app_root %>papers.html">papers</a></p>