 /*   
  * Copyright [2009] Robert Burrell Donkin http://robertburrelldonkin.name
  * 
  *  This file is part of Psytitian.
  *
  *  Psytitian is free software: you can redistribute it and/or modify
  *  it under the terms of the GNU General Public License as published by
  *  the Free Software Foundation, either version 3 of the License, or
  *  (at your option) any later version.
  *
  *  Psytitian is distributed in the hope that it will be useful,
  *  but WITHOUT ANY WARRANTY; without even the implied warranty of
  *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *  GNU General Public License for more details.
  *
  *  You should have received a copy of the GNU General Public License
  *  along with Psytitian.  If not, see <http://www.gnu.org/licenses/>.
  */

.go {
	background: transparent 2px 2px no-repeat; 
	border: none;
  	color: #666; 
  	margin: 0; 
  	cursor: pointer;
  	font-size: 95%; 
  	font-weight: bold; 
  	line-height: 16px;}
.go:hover { 
	color: #000; 
	}
.go:active {  
	color: #000; }

table.entryDialog textarea, input.long {
	width: 500px;
}

table.entryDialog input {
	width: 300px;
}

table.entryDialog label {
	border: 0, 5px;
}

div.results {
	border: solid #666;	
	padding: 1em 0;
	margin: 4em 1em;
}

div.results p {
	border: 0;	
	padding: 0;
	margin: 0em 8em;
}

div.results h3 {
	border: 0;
	padding: 0;
	margin: 1em 4em;
}

div.results h2 {
	border: 0;
	padding: 0;
	margin: 1em 2em;
}

div.results h1 {
	border: 0;
	padding: 0;
	margin: 0.5em 0.5em;
}

span.error {
	color: Red;
	margin: 0em 0em;
}